<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/checklist-model.js"></script>
        <script src="scripts/angular-datepicker.js"></script>
        <script src="scripts/app-services.js"></script>
        <script src="scripts/app-controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css" />
    </head>
    <body>
        <div ng-app="myApp" ng-controller="mainController" class="wrapper">
            <div class="container">
                <h1>Пресеты фильтров</h1>
                <div ng-repeat="(key, filterPreset) in filterPresets" class="page-button no-select" ng-click="setFilterPreset(key)" ng-class="getFilterPresetClass(key)">
                    {{filterPreset.label}}
                </div>
            </div>
            <div class="container">
                <h1>Фильтры</h1>
                <table class="data-table">
                    <tbody>
                        <tr ng-repeat="(filterName,filter) in filters" ng-class="getTrClass(filter)">
                            <td>
                                {{filter.label}}
                            </td>
                            <td data-ng-switch on="filter.type">
                                <div data-ng-switch-when="undefined">
                                    <input type="text" ng-model="filter.value" />
                                </div>
                                <div data-ng-switch-when="date">
                                    <datepicker date-format="yyyy-MM-dd">
                                        <input type="text" ng-model="filter.value" />
                                    </datepicker>
                                </div>
                                <div data-ng-switch-when="multiSelect">
                                    <div ng-repeat="k in filter.optionValues">
                                        <input type="checkbox" checklist-model="filter.value" checklist-value="k"/>
                                        <span data-ng-switch on="filterName">
                                            <span data-ng-switch-when="status">
                                                {{statusNames[k]}}
                                            </span>
                                            <span data-ng-switch-default>
                                                {{k}}
                                            </span>
                                        </span>
                                    </div><!-- checklist-model="user.roles" checklist-value="role" -->
                                </div>
                                <div data-ng-switch-when="select">
                                    <select ng-model="filter.value">
                                        <option ng-repeat="k in filter.optionValues">{{k}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" ng-click="setFilter(filters)" value="Фильтровать" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <h1>Список задач</h1>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="no-select" ng-repeat="(key, value) in columns" ng-class="getThClass(key)" ng-click="setSorting(key)">{{value.label}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in tasks">
                            <td ng-repeat="(key, value) in columns">{{task[key]}}</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <span class="page-button no-select" ng-repeat="(key, value) in params.pages" ng-class="getPbClass(key + 1)" ng-click="viewPage(key + 1)">{{key + 1}}</span>
                </p>
            </div>
        </div>
        <script>
            var app = angular.module('myApp', ['checklist-model', '720kb.datepicker', 'appControllers', 'appServices'])
                .config(['$httpProvider', function($httpProvider) {
                    $httpProvider.defaults.withCredentials = true;
                }]);
        </script>
    </body>
</html>